<%# Cabeçalho da página %>
<div class="mb-8">
  <div class="flex items-center justify-between">
    <div>
      <h1 class="text-2xl font-bold text-foome-dark">Novo escritório</h1>
      <p class="mt-1 text-sm text-foome-gray">Preencha os dados para criar um novo escritório</p>
    </div>
  </div>
</div>

<%# Formulário %>
<div class="bg-white shadow sm:rounded-lg">
  <div class="px-4 py-5 sm:p-6">
    <%= render "form", office: @office %>
  </div>
</div> 